*{
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  height: 100vh; 
  font-weight: 600;
}

.immigrants {
  background: rgb(255, 239, 213);
  margin: 0;

  padding: 2em 5em 1em 2em;
  max-width: 950px;
}

.origin {
  background: wheat;
  padding: 1em;
  border: 2px solid black;
  margin: 3px;
}

.reason {
  background-color: rgba(65, 105, 225, 0.705);
}

.reason, .origin {
  padding: 1em;
  border: 2px solid black;
  margin: 3px;
}

.take-notes {
  background: rgb(169, 165, 147);
  height: 100vh;
  width: 100%;
  border: 1px solid yellow;
  padding: 0;
  margin: 0;
  right: 0; 
  display: none;
  z-index: 1;
}

.form-3 {
  display: flex;
  flex-wrap: wrap;
}

.header{
  width: 30px;
  height: 50px;
  display: none;
 
 }

 #closeBtn {
  display: none;
  background: transparent;

  border: none;
  margin: .5rem;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;

  text-shadow: 1px 0 blue;
 }



.note {
  background: rgb(202, 186, 160);
  height: 100vh;
  width: 400px;
  border: 1px solid yellow;
  padding: 2em;
  position: fixed;
  right: 0; 
  display: block;
  }
 

@media only screen and (max-width: 1280px) {
  .form-3 {
    display: block;
    padding: 0;
    margin: 0;
  }
  .take-notes {
    position: relative;

   
    width: 100%;
    margin: 0;
    display: none;

    z-index: 2;
  }

  
  .immigrants {
    max-width: 100%;
    padding: 1.5em;
    margin-top: 50px;
  } 
  
  .header {
    position: fixed;
    background: #333;
    border-bottom: 2px solid black;
    position: fixed;
    
    width:  100%;
    margin-top: 0;
    top: 0;
    left: 0;

    display: block;

  }

  #closeBtn {
    display: block;
   }
  
  
 
 }

  .content {
  margin: 2em;
 }

 input {
  padding: 10px;
 }

 .txt, .txts {
  background: rgba(255, 239, 213, 0.524);
  border: none;
  width: 20em;
  border-radius: 4px;
  box-shadow: 0 0 5px;
 }

 .nooo {
  padding: 1em;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 3px #000000;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
 }

 .js-note, .js-notes {
  background: #333;
  padding: 2em;
  margin-top: 1em;
  text-shadow: 1px 1px #ffffff9d;
  border-radius: 5px;
 }

 .pop, .add-button {
  margin: 0.9em 1em;
  background: transparent;
  border: none;
  color: white;

  box-shadow: 0 0 3px papayawhip;
  padding: 5px;
  font-weight: 700;

  border-radius: 5px;
 }
 
 .del-btn {
  margin: 0.9em 1em;
  background: rgba(255, 0, 0, 0.507);
  border: none;
  color: white;

  box-shadow: 1px 2px 2px rgb(47, 255, 0),
              -1px -2px 2px rgb(13, 0, 255);
  padding: 5px 10px;
  font-weight: 700;

  border-radius: 5px;
 }

 .quiz-link {
  text-decoration: none; 
  padding: 10px;
  border: 2px solid black;
  margin: 1em;
  background: rgb(20, 122, 20);
  color: darkgrey;
  text-shadow: 1px 1px blue;
 }

