* {
  box-sizing: border-box;
  font-size: 13px;
  text-align: center;
}
body {
  height: 100vh;
  background: #333;
}

.container {
  
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 280px 0;
}

.quize {
  background: linear-gradient(130deg, #2bc7d6, rgb(147, 147, 26));
  padding: 10px;
  max-width: 700px;
  width: 60%;
  box-shadow: 2px -3px 5px black,
    -2px 3px 5px #000;
  border-radius: 10px;
}

#buttons {
  display: block;
  gap: 15px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.btn {
  height: 3rem;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  background: rgb(40, 40, 37);
  display: block;
  margin-bottom: 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: transparent;
  color: white;
  cursor: pointer;
}

.btn:hover:not([disabled]) {

  box-shadow: 0 0 4px rgb(128, 26, 0);
  font-size: 16px;
  color: #ffffff;

  box-shadow: 0 0 2px rgb(128, 26, 0);
  /*background: #dcd6d6;*/
  color: #333;

}

.btn:disabled {
  cursor: no-drop;
}

h2 {
  margin-bottom: 35px;
  color: coral;
  font-size: 25px;
  text-shadow: 2px 1px #000;
}

h3 {
  font-size: 17px;
  
}

#nxt-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  padding: 10px;
  margin: 20px auto 0;
  display: none;
}

.correct {
  background: #32b70a;
}

.incorrect {
  background: #b21905;
}
