* {
  box-sizing: border-box;
  font-size: 13px;
  text-align: center;
}

.container {
  background: #333;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quize {
  background: linear-gradient(#333, rgb(95, 95, 84));
  padding: 10px;
  max-width: 700px;
  width: 60%;
  box-shadow: 2px -3px 5px black,
    -2px 3px 5px #000;
  border-radius: 10px;
}

#buttons {
  display: block;
  gap: 15px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.btn {
  height: 3rem;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 3px rgb(61, 182, 61);
  background: rgb(40, 40, 37);
  display: block;
  margin-bottom: 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: transparent;
  color: white;
  cursor: pointer;
}

.btn:hover:not([disabled]) {
  box-shadow: 0 0 2px rgb(128, 26, 0);
  /*background: #dcd6d6;*/
  color: #333;
}

.btn:disabled {
  cursor: no-drop;
}

h2 {
  margin-bottom: 35px;
  color: coral;
}

h3 {
  
}

#nxt-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  padding: 10px;
  margin: 20px auto 0;
  display: none;
}

.correct {
  background: #32b70a;
}

.incorrect {
  background: #b21905;
}
