

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
}


.header {
    background: linear-gradient(27deg, #26c2334d, #a1141443);
    color: #0A0A23;
    width: 100%;

    text-align: center;
    font-weight: 800;
    font-size: 20px;

    padding: 5px;
    border-bottom: 2px solid #0a0a23;
}

.header {
  background: linear-gradient(130deg, #0c64fc71, #e50a0aa3);
  color: black;
}
.main-content {
    max-width: 1100px;
    
    margin: 20px auto 0;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

footer {
    text-align: center;
    padding: 0 5px;
    background-color: #33333396;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.para{
  padding-bottom: 10px;
}

.logo {
  max-width: 30px;
  border-radius: 50%;
  height: 30px;
}

.logo-img {
  width: 100px;
  margin-bottom: 0;

  border-radius: 4PX;
}

.subject-button {
  display: relative;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 0;
  padding: 3px;
}

button {
  border: none;
  border-radius: 5px;
  background: transparent;
  color: white;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.add-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: auto;
}

p {
  margin: 0;
}

.study-photo {
  width: 100%;
  display: block;
  margin: 10px auto 0;
}

span {
  color: darkcyan ;
}

.container-img {
  position: relative;
}

.container-img .text-block {
  position: absolute;
  bottom: 50px;
  
  right: 30px;
  background-color: rgba(0, 0, 0, 0.582);
  color: rgb(255, 255, 255);
  padding: 50px;
  font-size: 16px;
}

.loader {
  border: 20px solid #f4f4f4;
  border-top: 25px solid #e50a0aa3;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  overflow: hidden;
}

@keyframes spin{
  0% {
    transform: rotate(0deg);
  
  }  
  
  100% {
    transform: rotate(360deg);
    
  }
}

sup {
  font-size: 30px;
}

.container-subject {
  background: #0a0a23;
  max-width: 850px;
  width: 50%;
  display: block;
  margin: 15px auto;
  padding-bottom: 15px;
  border-radius: 15px;
}

.history-img {
  width: 100%;
  display: block;
  margin: 5px auto;
  border-radius: 10px 10px 0 0 ;
}

.container-subject .text-box {
  color: bisque;
  margin: 30px 40px;
}

.sub-btn {
  background: #d6cd17;
  padding: 20px 40px;
  display: block;
  margin: 15px auto;
  font-size: 25px;
  font-weight: 700;
}

a {
  text-decoration: none;
}